@import "tailwindcss";
@plugin "daisyui";

@keyframes seamless-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes seamless-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

/* Right → Left (Normal speed) */
.animate-seamless-left {
  animation: seamless-left 40s linear infinite;
}
