@import "tailwindcss";
@plugin "daisyui";

@keyframes seamless {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-seamless {
  animation: seamless 10s linear infinite;
}

